// Функція для додавання
function add(x, y) {
    return x + y;
}

// Функція для віднімання
function subtract(x, y) {
    return x - y;
}

// Функція для множення
function multiply(x, y) {
    return x * y;
}

// Функція для ділення
function divide(x, y) {
    return x / y;
}

let choice = prompt("Виберіть операцію:\n1. Додавання\n2. Віднімання\n3. Множення\n4. Ділення");

let num1 = parseFloat(prompt("Введіть перше число:"));
let num2 = parseFloat(prompt("Введіть друге число:"));

switch(choice) {
    case '1':
        alert(num1 + " + " + num2 + " = " + add(num1, num2));
        break;
    case '2':
        alert(num1 + " - " + num2 + " = " + subtract(num1, num2));
        break;
    case '3':
        alert(num1 + " * " + num2 + " = " + multiply(num1, num2));
        break;
    case '4':
        if (num2 === 0) {
            alert("Ділення на нуль неможливе");
        } else {
            alert(num1 + " / " + num2 + " = " + divide(num1, num2));
        }
        break;
    default:
        alert("Неправильний ввід");
